body {
    overflow: hidden;
}

#game-title {
    width: 90px;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 24px;
    font-weight: bold;
}

#main {
    margin-top: 60px;
}

#game-main {
    margin-left: 50px;
    float: left;
    width: 800px;
    height: 500px;
    /*background-color: pink;*/
    border: 2px solid black;
    background-image: url("../static/img/pic.png");
    background-size: 800px 485px;
}

#right-tool {
    margin-right: 50px;
    float: right;
    width: 270px;
    height: 500px;

}

#score {
    position: fixed;
    top: 50px; /* Adjust as needed */
    right: 150px; /* Adjust as needed */
    padding: 10px 20px;
    background-color: #87ceeb; /* Blue color, you can change */
    color: #fff; /* White text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 800; /* Ensure it's above other content */
}

.img {
    float: left;
    width: 120px;
    height: 150px;
    margin-top: 13px;
    margin-left: 10px;
    cursor: pointer;
    border: 2px solid black;
    background-repeat: no-repeat; /* 图片不重复 */
    background-size: contain; /* 图片不重复，等比例缩放以适应容器 */
    background-position: center; /* 图片水平和垂直居中 */
}

#one {
    width: 30px;
    height: 100px;
    position: relative;
    top: 11px;
    left: 123px;
    border: 2px dashed #ff0000; /* 修改为虚线边框 */
}

#one {
    width: 30px;
    height: 100px;
    position: relative;
    top: 11px;
    left: 123px;
    border: 2px dashed #ff0000; /* 修改为虚线边框 */
}

#two {
    width: 60px;
    height: 78px;
    position: relative;
    top: 27px;
    left: 127px;
    border: 2px dashed #ff0000; /* 修改为虚线边框 */
}

#three {
    width: 150px;
    height: 25px;
    position: relative;
    top: -170px;
    left: 230px;
    border: 2px dashed #ff0000; /* 修改为虚线边框 */
}

#four {
    width: 30px;
    height: 100px;
    position: relative;
    top: -205px;
    left: 460px;
    border: 2px dashed #ff0000; /* 修改为虚线边框 */
}

#five {
    width: 100px;
    height: 118px;
    position: relative;
    top: -140px;
    left: 590px;
    border: 2px dashed #ff0000; /* 修改为虚线边框 */
}

#six {
    width: 112px;
    height: 100px;
    position: relative;
    top: -107px;
    left: 590px;
    border: 2px dashed #ff0000; /* 修改为虚线边框 */
}

#error-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ff5e5e;
    padding: 5px 15px ;
    border-radius: 15px;
    z-index: 1000;
    color: white;
    font-size: 23px;
}

#success-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #86bb6e;
    padding: 5px 15px ;
    border-radius: 15px;
    z-index: 1000;
    color: white;
    font-size: 23px;
}

.hidden-error {
    display: none;
}

.hidden-success {
    display: none;
}